<!-- app/web/templates/index.html -->
<!DOCTYPE html>
<html lang="en">

{% extends "base.html" %}
{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', path='css/airsim_config.css') }}">
{% endblock %}
{% block content %}
<body>
    <header>
        <h1>🛠️ Configure AirSim Drone Group</h1>
    </header>
    <main>
        <h1>⚙️ Drone Group Settings</h1>
        <!-- templates/airsim_config.html -->
        <form method="post" action="/airsim/config/drone_group">
            <div style="margin-bottom: 16px;">
                <label for="config_name">Configuration Name</label>
                <input type="text" id="config_name" name="config_name" value="{{config_name | default('')}}" required>
                <button type="submit"  class="btn-link">Save</button>
            </div>
            <hr style="margin: 1.5rem 0; border: 0; border-top: 1px solid #ccc;">
            
            {{ settings_html|safe }}
        </form>

    </main>
    <footer>
        &copy; 2025 - 보민, 민석
    </footer>
</body>
{% endblock %}
</html>